
<nav class="navbar  navbar-expand-sm bg-yellow">
  <div class="container">
    <a class="navbar-brand " href="#">Irina Salas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ABOUT ME</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid bg-yellow">
  <div class="container justify-content-center">
    <div class="row expand-title">
      <div class="col-12 padding-title text-title">
        <h6>Hello!</h6>
        <h4>I'am <b>Irina,</b></h4>
        <h5>A UX Designer who believes in Design as a way to <br> improve the way people live in this world</h5>
      </div>
    </div>
  </div>
</div>
<div class="container-xxl mt-content">
  <section class="row align-items-center text-center">
    <div class="col-lg-6 text-title">
      <h3>CEMEX GO 2.0</h3>
      <h5>Mobile App - 2020</h5>
      <h6 class="h6">evolving the way customers buy construction materials from CEMEX</h6>
      <a href="">View Project > </a>
    </div>
    <div class="col-lg-6 text-center">
      <img class="img-fluid mt-3 mx-auto" src="../assets/imagenes/captura1.png" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
  </section>
  <hr>
  <section class="row align-items-center text-center">
    <div class="col-lg-6 text-title">
      <h3>CEMEX GO 2.0</h3>
      <h5>Mobile App - 2020</h5>
      <h6 class="h6">evolving the way customers buy construction materials from CEMEX</h6>
      <a href="">View Project > </a>
    </div>
    <div class="col-lg-6 text-center">
      <img class="img-fluid mt-3 mx-auto" src="../assets/imagenes/captura2.png" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
  </section>
  <hr>
  <section class="row align-items-center text-center">
    <div class="col-lg-6 text-title">
      <h3>CEMEX GO 2.0</h3>
      <h5>Mobile App - 2020</h5>
      <h6 class="h6">evolving the way customers buy construction materials from CEMEX</h6>
      <a href="">View Project > </a>
    </div>
    <div class="col-lg-6 text-center">
      <img class="img-fluid mt-3 mx-auto" src="../assets/imagenes/captura3.png" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
  </section>
</div>
<footer  class="py-4 py-md-4 mt-5 text-white" style="background-color: #343e49;">
  <div  class="container-fluid py-1 py-md-1 px-4 px-md-1">
    <div  class="container">
      <div  class="row">
        <div  class="col-md-2">Get in touch</div>
        <div  class="col-md-2">irina.sc07@gmail.com</div>
        <div  class="col-md-2">
          <a href="https://www.linkedin.com/in/irinasalas/">linkedin</a>
        </div>
      </div>
    </div>
  </div>
</footer>
